<strong>Olá, {{ student }}</strong>
<p>Parabéns, você foi inscrito nm plano <strong>{{ title }}</strong> da gymPoint!</p>
<p>
  <strong>Duração: {{ duration }}</strong> <br />
  <strong>Preço: {{ price }}</strong><br /><br />
  <strong>Data de Início: {{ start_date }}</strong><br /><br />
  <strong>Data de Fim: {{ end_date }}</strong><br /><br />
  <small>
    * O plano cadastrado poderá ser cancelado com até 5 dias de antecedência do inicio da vigência.
  </small>
</p>
